<!DOCTYPE html>
<html><body>
             <h2>Welcome to the APO Exposure Time Calculator</h2>
             <form action="/greet">
                 What instrument are you using? <input type='text' name='instrument'><br>
                 What's the star's magnitude? <input type='number' name='mag'><br>
                 What's the star's temprature? <input type='number' name='temp'><br>
                 What's the seeing like? <input type='number' name='seeing'><br>
                 What's the desired S/N? <input type='number' name='SN'><br>
                 <input type='submit' value='Continue'>
             </form>
         </body></html>